* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(224, 214, 117);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 15px 15px;
}

.header {
    height: 120px;
    display: flex;
    align-items: center;
    background-color: #3baef0;
}

.header .container {
    min-width: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.content {
    background-color: rgb(45, 208, 153);
}

.content .container {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    text-align: center;
    color: white;
}

.buttons {
    height: 150px;
    background-color: rgb(45, 208, 153);
}

.buttons .container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#rockBtn, #paperBtn, #scissorsBtn {
    margin: 0 0 20px;
    width: 130px;
    height: 50px;
    background-color: #3baef0;
    border-style: none;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#resetBtn {
    width: 130px;
    height: 50px;
    background-color: #f08a41;
    border-style: none;
    border-radius: 10px;
    color: white;
    font-weight: bold; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#rockBtn:hover, #paperBtn:hover, #scissorsBtn:hover {
    background-color: #f08a41;
}

#resetBtn:hover {
    background-color: #5a5a58;
}

.section .container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    color: rgb(105, 99, 99);
    font-size: 18px;
}

.item1, .item2, .item3 {
    text-align: center;
}

#result {
    text-align: center;
    color: #0b1477;
    font-size: 25px;
    font-weight: bold;
}

.score .container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.container-winner {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    color: #4e524e;
    font-size: 20px;
    font-weight: bold; 
}

#winner {
    color: #f17509; 
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0%;
    background-color: #3baef0;
    font-size: 15px;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

